<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- header nav bar -->
      <app-header></app-header>
      <!-- Main Sidebar Container -->
      <app-side-bar></app-side-bar>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Profile</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">User Profile</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                   <div class="card-body box-profile">
                        
                        <form [formGroup]="profileForm" class="form-horizontal" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-10">
                            <input type="text" [value]="this.profile.name ? this.profile.name : null" formControlName="name" class="form-control" [ngClass]="{'is-invalid': submitted && form.controls.name.errors }" placeholder="Name">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputEmail" class="col-sm-2 col-form-label">Role</label>
                          <div class="col-sm-10">
                            <input type="role" [value]="this.profile.role ? this.profile.role : null" formControlName="role" class="form-control" [ngClass]="{'is-invalid': submitted && form.controls.role.errors }" placeholder="Role">
                          </div>
                        </div>
                      
                        <div class="form-group row">
                          <label for="inputExperience" class="col-sm-2 col-form-label">Description</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" formControlName="description" [ngClass]="{'is-invalid': submitted && form.controls.description.errors }" placeholder="Description" [value]="this.profile.description ? this.profile.description : null"></textarea>
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputName2" class="col-sm-2 col-form-label">User Picture</label>
                            <div class="col-sm-10">
                              <input type="file" accept="image/*" (change)="selectFile($event)" class="form-control" id="picture">
                              <img [src]="preview ? preview : profileForm.get('picture').value" style="max-width: 80px;" class="preview img-circle elevation-2"/>
                            </div>
                          </div>
                       
                        
                        <div class="form-group row">
                          <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Save</button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>

              </div>
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
      <app-footer></app-footer>
    
      <!-- Control Sidebar 
      <aside class="control-sidebar control-sidebar-dark">
        Control sidebar content goes here 
      </aside>
      /.control-sidebar -->
    </div>
</body>